<div class="container">
  <div class="row">
    <div class="col-12 ms-5 mt-5">
      <mat-form-field class="fullWidthForm">
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="Filtro" type="email" formControlName="email" (keyup)="filtrarRestaurantes($event)">
        <p class="text-danger" *ngIf="listaRestaurantesFiltrados.length == 0">Não foram encontrados restaurantes com o filtro informado.</p>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="card cardStyle col-4 ms-5 mt-5" *ngFor="let restaurante of listaRestaurantesFiltrados" (click)="verDetalhesRestaurante(restaurante)">
      <img class="card-img-top cardImg" [src]="restaurante.IMAGEM" alt="Imagem do Restaurante {{restaurante.NOME}}">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h5 class="card-title">{{ restaurante.NOME }}</h5>
            <p class="cardDescription">{{ restaurante.DESCRICAO }}</p>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <img style="width:1rem" src="../../../assets/imgs/relogioIcon.png" alt="Icone Relógio">
                {{ restaurante.TEMPOENTREGA }}
              </div>
              <div class="col-6">
                <img style="width:2rem" src="../../../assets/imgs/dinheiroIcon.png" alt="Icone Dinheiro">
                {{ restaurante.VALORENTREGA|currency:'BRL' }}
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <button mat-raised-button color="primary" (click)="verDetalhesRestaurante(restaurante)">Ver Produtos!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
