<div class="row">
  <div class="col-6">
    <img  class="imgBackgroundLogin">
  </div>
  <div class="col-6">
    <h1 class="mt-5 text-center">Acesse seus restaurantes prediletos</h1>
    <div class="col-12">
      <img class="iconeRestaurante" src="../../../assets/imgs/restauranteIcone.jpg">
    </div>
    <form class="row mt-5 justify-content-center" [formGroup]="formLogin">
      <div class="col-8">
        <mat-form-field class="fullWidthForm">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail" type="email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field class="example-full-width fullWidthForm">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Senha" type="password" formControlName="senha">
        </mat-form-field>
      </div>
      <div class="col-8">
        <button mat-raised-button class="fullWidthForm" color="accent" (click)="efetuarLogin()">Entrar</button>
      </div>
      <div class="col-8 mt-3">
        <a class="colorPink pointer" (click)="myModal.openModalEmail('Informe seu E-mail para alterar a senha!')">Esqueceu a senha?</a>
      </div>
    </form>
  </div>

</div>
<app-modal-email></app-modal-email>
